body {
    font-family: 'Montserrat', Arial, sans-serif;
     }
.reg_form{
	width: 200px;
  font-size: 100%;
  font: inherit;
  margin-left: 850px;
  margin-top: 10px;
}

.forgot-password{
  padding-left: 100px;
  font-size: 15px;
  font-weight:500;
  letter-spacing: 1px;
  color: #000000;
  display:inline-block;
}
.vhod1{
   margin-left: 820px;
  margin-top: 100px;
  font-weight: 250;
}
.vhod{
  background:#eee;
  color:#000000;
  text-decoration:none;
  display:block;
  width:70px;
  text-align:center;
  margin-right:20px ;
  padding:5px 5px;
  transition:all 0.3s;
 border-radius: 6px;
  }
 .vhod:hover{
  box-shadow:0px -5px 0 #6198ff inset;
}

